body {
    background-image: url(January.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body2 {
    background-image: url(February.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body3 {
    background-image: url(March.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body4 {
    background-image: url(April.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body5 {
    background-image: url(May.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body6 {
    background-image: url(June.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body7 {
    background-image: url(July.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body8 {
    background-image: url(August.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body9 {
    background-image: url(September.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body10 {
    background-image: url(October.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body11 {
    background-image: url( November.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body12 {
    background-image: url( December.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    margin-left: 44.7%;
    margin-top: 13%;
}

.mainheader {
    color: rgb(185, 0, 0);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader2 {
    color: rgb(150,85,85);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader3 {
    color: rgb(32,37,56);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader4 {
    color: rgb(19,25,17);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader5 {
    color: rgb(19,25,17);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader6 {
    color: rgb(0,17,43);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader7 {
    color: rgb(55,34,5);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader8 {
    color: rgb(0,17,43);
    font-size: 60pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader9 {
    color: rgb(39,22,0);
    font-size: 52pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader10 {
    color: rgb(59,15,8);
    font-size: 55pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader11 {
    color: rgb(0,0,0);
    font-size: 50pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader12 {
    color: rgb(59,15,8);
    font-size: 50pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mainheader a {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 23pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color:  maroon;
    color: white;
    text-decoration: none;
}

.mainheader2 a {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;  
    padding-bottom: 25px;
    border-radius: 50px;
    font-size: 22pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(120, 63, 63);
    background-color:rgb(203, 121, 121);
    color: white;
    text-decoration: none;
}

.mainheader3 a {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 23pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color:rgb(32,37,56);
    color: white;
    text-decoration: none;
}

.mainheader4 a {
    margin-left: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 28pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color:rgb(19,25,17);
    color: white;
    text-decoration: none;
}

.mainheader5 a {
    margin-left: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 28pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(19,25,17);
    color: white;
    text-decoration: none;
}

.mainheader6 a {
    margin-left: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 24pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(0,17,43);
    color: white;
    text-decoration: none;
}

.mainheader7 a {
    margin-left: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 28pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(55,34,5);
    color: white;
    text-decoration: none;
}

.mainheader8 a {
    margin-left: 20px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 22pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(0,17,43);
    color: white;
    text-decoration: none;
}

.mainheader9 a {
    margin-left: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 21pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(39,22,0);
    color: white;
    text-decoration: none;
}

.mainheader10 a {
    margin-left: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 24pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(59,15,8);
    color: white;
    text-decoration: none;
}

.mainheader11 a {
    margin-left: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 22pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(0,0,0);
    color: white;
    text-decoration: none;
}

.mainheader12 a {
    margin-left: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;  
    padding-bottom: 30px;
    border-radius: 50px;
    font-size: 22pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(59,15,8);
    color: white;
    text-decoration: none;
}


.calendar {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar2 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar3 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 42pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar4 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar5 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar6 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 42pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar7 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar8 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar9 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar10 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar11 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar12 {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 48pt;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.calendar th{
    background-color: maroon;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar2 th{
    background-color: rgb(120, 63, 63);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar3 th{
    background-color: rgb(32,37,56);
    padding-left: 24px;
    padding-right: 38px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
}

.calendar4 th{
    background-color: rgb(19,25,17);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar5 th{
    background-color: rgb(19,25,17);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar6 th{
    background-color: rgb(0,17,43);
    padding-left: 24px;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar7 th{
    background-color: rgb(55,34,5);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar8 th{
    background-color: rgb(0,17,43);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar9 th{
    background-color: rgb(39,22,0);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar10 th{
    background-color: rgb(59,15,8);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar11 th{
    background-color: rgb(0,0,0);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar12 th{
    background-color: rgb(59,15,8);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.calendar td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar2 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar3 td {
    padding-top: 24px;
    padding-bottom: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar4 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar5 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar6 td {
    padding-top: 24px;
    padding-bottom: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar7 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar8 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar9 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar9 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar10 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar11 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar12 td {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}